@page "/edit-card/{cardId}"
@layout FullWidthLayout
@inherits Flashcardgenerator.Pages.EditCardComponent

@using Radzen
@using Radzen.Blazor
@using Flashcardgenerator.Models.Localhost
<RadzenContent Container="main">
  <ChildContent>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." Visible="@hasChanges">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="autorenew" style="margin-bottom: 20px" Text="Reload" Visible="@hasChanges" Click="@Button0Click">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@card" TItem="Flashcardgenerator.Models.Localhost.Card" Visible="@(card != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Question" style="width: 100%" Text="Question">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextArea MaxLength="480" style="height: ; width: 100%" @bind-Value="@(card.Question)" Name="Textarea0">
                </RadzenTextArea>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="categoryId" style="width: 100%" Text="Category">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@getCategoriesForcategoryIdResult" Disabled="false" Placeholder="Choose Category" Responsive="false" ShowSearch="false" style="width: 100%" TextProperty="name" @bind-Value="@(card.categoryId)" ValueProperty="categoryId" Name="CategoryId">
                </RadzenDropDownDataGrid>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="textarea0" style="width: 100%" Text="Answer">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextArea MaxLength="480" style="height: 125px; width: 100%" @bind-Value="@(card.Answer)" Name="AnswerField">
                </RadzenTextArea>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button4Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
